################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Win32ApiCppToZig/bin/Debug/net8.0-windows
/Win32ApiCppToZig/obj
